.font_size {
  font-size: 2em !important;
}

.card_img {
  width: 75% !important;
  align-items: center;
  align-self: center;
}

.start {
  width: 100%;
}

.not_found {
  font-size: 1.5em;
}

.abilities_pokemon {
  font-size: 1.2em;
}

.margin {
  margin-right: 8%;
}
